
.hero{
    height: 90vh;
}





.hero__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__text h1{
    font-size: 3.7em;
    font-weight: 700;
    color:#0b0b60;
    
}
.hero__text p{
    font-size: 1.3em;
    color: darkgray;
}

 .hero__text  button{
    display: inline-block;
    line-height: 1.9;
    color: #fff;
    
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .390rem .85rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: .25rem;
    background-color: #0b0b60;
   

}


